@page
@model CRR.Web.Pages.BecomeContributorModel
@{
}


<div class="container my-3">
  <div class="p-5 alert-success border rounded-3 mb-2">
    <h4 class="h-5">Become a contributor!</h4>
    <p>Becoming a contributor allows you to register your rental appartments or other properties
        in Central Rent Register's database after which you to write public reviews related to your
        tenents and contribute towards betterment of your community.
    </p>
  
  </div>
    <div class="card p-3">
        <div class="class-title">
            <h5>Fill out the form</h5>
        </div>
        <hr>
        <div class="card-body">
            <p>Please provide following information to start contributing...</p>
            
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="addressInput" asp-for="Landlord.PermanentAdress" class="form-label">Permanent address</label>
                    <input class="form-control" id="addressInput" asp-for="Landlord.PermanentAdress" aria-describedby="addressHelp">
                    <div id="addressHelp" class="form-text">We'll never share your address with anyone else.</div>
					<span asp-validation-for="Landlord.PermanentAdress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="aboutInput" asp-for="Landlord.About" class="form-label">About</label>
                    <textarea class="form-control" asp-for="Landlord.About" id="aboutInput" aria-describedby="aboutHelp"></textarea>
                    <div id="aboutHelp" class="form-text">Tell us about yourself</div>
					<span asp-validation-for="Landlord.About" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Become Contributor" class="btn btn-sm btn-warning"/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}