@page
@model CRR.Web.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-2">
        
    @if (!User.IsInRole("landlord"))
    {
        <div class="h-100 p-5 bg-light border rounded-3 mb-2">
        <h4 class="h-5">Become a contributor!</h4>
        <p>If you ever happened to interact with tenents that damaged your appartments or houses after taking them on rent, please
            upload their details here so that other people can get benefit from it and keep such tenents away from their
            properties. Upload your tenent details <a class="btn btn-sm btn-outline-secondary" asp-page="/becomeContributor">here.</a>
        </p>
        </div>
    }
    else
    {
        <div class="card my-2 p-2 shadow border-0">
            <div class="card-body">
                <div class="row">
                        <h5>Welcome to Central Rent Register!</h5>
                    <div class="col-md-10">
                        <small class="text-muted">Add your tenant reviews or search for tenants reviewed by other landlords or house owners.</small>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <a class="btn btn-sm btn-secondary" asp-page="./AddReview">Review your Tenants</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="card my-2 shadow-sm">
        <div class="card-body">
            <h5>Search Tenents</h5>
            <small class="text-muted">Search by tenent CNIC, first names, last names or phone numbers to get property owner's reviews...</small>

            <input class="form-control form-control-dark w-100 rounded-top mt-2 border-1" type="text" placeholder="Search.." aria-label="Search">
        </div>
    </div>

    <h5>Search Results</h5>

    @*First row of results*@
    @if(Model.Reviews.Count() == 0)
    {
        <div class="alert alert-info" role="alert">
		    We could not find any tenants with related search attributes.
		</div>
    }
    else
    {
        <div class="row">
        @foreach (var review in Model.Reviews)
        {
            <div class="col-md-6">
                <component type="typeof(TenantReviewOverview)" param-review="review" render-mode="ServerPrerendered" />
            </div>
        }
        </div>
    }

    @*Second row of results*@
    @*<div class="row">
        
    </div>*@

    <div class="d-flex justify-content-center">
        <p class="lead text-danger">***End of Results***</p>
    </div>

    <!-- Insights -->
    <div class="card my-2">
        <div class="card-body">
            <h6 class="card-title">Insights</h6>
          <div class="row my-2">
              <div class="col-3 text-light">
                  <div class="card bg-success">
                      <div class="card-body">
                          <h6>1978 reports</h6>
                      </div>
                  </div>
              </div>
              <div class="col-3 text-light">
                  <div class="card bg-primary">
                      <div class="card-body">
                          <h6>382 Owners</h6>
                      </div>
                  </div>
              </div>
              <div class="col-3 text-light">
                  <div class="card bg-info">
                      <div class="card-body">
                          <h6>71 Locations</h6>
                      </div>
                  </div>
              </div>
              <div class="col-3 text-light">
                  <div class="card bg-secondary">
                      <div class="card-body">
                          <h6>961 Users</h6>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
