@using CRR.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav flex-grow-1">
    @if(SignInManager.IsSignedIn(User)){
        <li class="nav-item"><a asp-area="" asp-page="/Home" class="nav-link px-2 text-white">Home</a></li>
        @if (User.IsInRole("landlord"))
        {
            <li class="nav-item"><a asp-area="" asp-page="/AddReview" class="nav-link px-2 text-white">Review</a></li>
        }
        else
        {
            <li class="nav-item"><a asp-area="" asp-page="/BecomeContributor" class="nav-link px-2 text-white">Become Contributor</a></li>
        }
    }
    else
    {
        <li class="nav-item"><a href="#index" class="nav-link px-2 text-white">Index</a></li>
        <li class="nav-item"><a href="#about" class="nav-link px-2 text-white">About</a></li>
        <li class="nav-item"><a href="#features" class="nav-link px-2 text-white">Features</a></li>
        <li class="nav-item"><a href="#faq" class="nav-link px-2 text-white">FAQs</a></li>
    }
    
</ul>

<div class="text-end">
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a  class="nav-link px-2 text-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @User.Identity?.Name!</a>
        </li>
        @if(User.IsInRole("landlord")){
            <li class="nav-item">
            <a class="nav-link px-2 text-secondary" asp-area="" asp-page="./AddProperties"><i class="fa fa-bookmark"></i> Properties</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="fa fa-cogs"></i> Settings
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button type="submit" class="nav-link btn btn-link px-2 text-danger"><i class="fa fa-arrow-circle-up"></i> Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <a type="button" class="btn btn-outline-light me-2" asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a type="button" class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">Register</a>
}
</div>